html
{
    height:100%;
    width:100%
} 
body {
	background-image: url('https://i.ibb.co/YdrSchn/undefined-Imgur.png');background-repeat: no-repeat; background-size:100% 100%;   overflow: hidden;   font-family: "Courier New", Courier, monospace; font-size: 16px; -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;
	   font-size: 24px;
    font-weight: bold;
    color:red;
    height:100%
}
.divTableBody {
	display: table-row-group;
}
.divTable{
	display: table;
	  border-collapse: collapse;
	  border:none;
	       
}
.divTableRow {
	display: table-row;
	border:none;
}


  .divclassanim
{
       animation: blink 1s;
    animation-iteration-count: infinite;
}
    .blinking
        {
             
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: yellow;	}
	49%{	color: transparent;	}
	50%{	color: yellow;	}
	99%{	color:yellow;	}
	100%{	color: #000;	}
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.container {
  position: relative;
  text-align: center;
  
  color: red;
  width:60px;
  font-size:30px;
  font-weight:bold;
 margin-left:-2px;
}

.container1 {
  position: relative;
  text-align: center;
  color: White;
  width:60px;
  font-size:18px;
  font-weight:bold;
}

/* Bottom left text */
 
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.divTableCell1, .divTableHead {
	 
	display: table-cell;
	height:60px; 
	 
    width:60px;
	background-repeat:no-repeat;
	line-height: 40px;
	text-align:center;
	  
	vertical-align:middle;
	color:Red;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}


.bgtime1 { background: url("images/l5GUeTuem6BO.png");width:70px;height:30px; background-repeat:no-repeat;text-align:center;vertical-align: middle;   color:Yellow ;border:none;  background-size:100% 100%;}
.divCells8 
        {
             
            height: 40px;
              background:  url('images/x4xHMYZiWcgf.png');
             
            background-repeat: no-repeat;
            line-height: 40px;
            text-align: center;
            vertical-align: middle;
            color: Red;
             width: 160px;
             background-size:100% 100%;
              border:none;
        }
.bsub{
                background: url("images/ayEbkT6F2jWF.png") no-repeat;
                cursor:pointer;
                border: none;
                  width:100px;
                height:30px;
                background-size:100% 100%
            }
            .bsub1{
                background: url("imagesLAN.png") no-repeat;
                cursor:pointer;
                border: none;
                width:100px;
                height:30px;
                background-size:100% 100%
                
            }
#left-shaddow {
	left: 0px; width: 301px; height: 100%; position: fixed; z-index: -1; background-image: url("../img/ck-left-shaddow-background.png");
}
#right-shaddow {
	width: 301px; height: 100%; right: 0px; position: fixed; z-index: -1; background-image: url("../img/ck-right-shaddow-background.png");
}
.TimeHeadCss {
	text-align: center; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; background-color: rgb(241, 6, 39);
}
.CalcHeadCss {
	text-align: center; color: white; font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; background-color: rgb(54, 54, 53);
}
.sr {
	text-align: center; color: black; font-family: "Courier New", Courier, monospace; font-size: 15px; font-weight: bold;
}
.footer {
	text-align: center; color: rgb(1, 2, 13); font-family: "Courier New", Courier, monospace; font-size: 11px; font-weight: bold; background-color: rgb(251, 131, 2);
}
#incalcrow1 {
	background-color: rgb(0, 255, 0);
}
#incalcrow2 {
	background-color: rgb(250, 3, 112);
}
#incalcrow3 {
	background-color: rgb(255, 0, 0);
}
#incalcrow4 {
	background-color: rgb(8, 211, 229);
}
#incalcrow5 {
	background-color: rgb(255, 255, 0);
}
#incalcrow6 {
	background-color: rgb(156, 34, 242);
}
#incalcrow7 {
	background-color: rgb(177, 18, 54);
}
#incalcrow8 {
	background-color: rgb(34, 127, 242);
}
#incalcrow9 {
	background-color: rgb(251, 131, 2);
}
#incalcrow10 {
	background-color: rgb(255, 0, 255);
}
.Textcss {
	border: 0px solid rgb(255, 255, 255); border-image: none; width: 30px; height: 20px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold;
}
.Qtytxtcss {
	border: 0px solid rgb(255, 255, 255); border-image: none; width: 38px; height: 16px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; background-color: rgb(255, 255, 255);
}
.Amnttxtcss {
	border: 0px solid rgb(255, 255, 255); border-image: none; width: 65px; height: 15px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-weight: bold; background-color: rgb(255, 255, 255);
}
.CalcBox-out {
	background-position: center; padding: 8px 2px 2px; width: 38px; height: 27px; background-image: url("../img/CalcBox.png"); background-repeat: no-repeat;
}
.QtyBox-out {
	background-position: center; margin: 0px; padding: 5px 2px 2px 7px; width: 57px; height: 24px; background-image: url("../img/qtybox.png"); background-repeat: no-repeat;
}
.Amtbox-out {
	background-position: center; padding: 10px 2px 5px 8px; width: 80px; height: 27px; background-image: url("../img/amtbox.png"); background-repeat: no-repeat;
}
.loginbox-out {
	background-position: center; padding: 4px 2px 4px 8px; width: 150px; height: 25px; background-image: url("../img/loginbox.png"); background-repeat: no-repeat;
}
.loginbox {
	border: 0px solid rgb(255, 255, 255); border-image: none; width: 110px; height: 15px;
}
.LotteryNameCss {
	text-align: center; color: black; text-transform: uppercase; line-height: normal; font-family: "Arial Black", Gadget, sans-serif; font-size: 13px; font-style: normal; font-weight: 400;
}
.lotteryresult {
	text-align: center; color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold;
}
.ugamename {
	text-align: center; color: black; line-height: 28px; padding-bottom: 10px; font-size: 25px; font-weight: bold;
}
.bgamename {
	height: 50px; text-align: center; color: black; padding-bottom: 10px; font-size: 15px; font-weight: bold;
}
.title {
	color: rgb(255, 255, 255); font-size: 33px; font-weight: bold;
}
.slogan {
	color: rgb(255, 255, 0); font-size: 15px;
}
a.navbar {
	color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; text-decoration: none;
}
a.navbar:hover {
	color: rgb(255, 153, 0); font-size: 11px; font-weight: bold; text-decoration: none;
}
.head-1 {
	color: rgb(255, 153, 0); font-size: 14px; font-weight: bold;
}
a.navbar2 {
	color: rgb(0, 0, 0); font-size: 10px; text-decoration: none;
}
a.navbar2:hover {
	color: rgb(0, 0, 0); font-size: 10px; text-decoration: none;
}
h1 {
	color: rgb(255, 204, 0); font-size: 21px;
}
.txt-1 {
	color: rgb(255, 255, 255);
}
.head-2 {
	color: rgb(255, 204, 0); font-size: 17px; font-weight: bold;
}
a.navbar4 {
	color: rgb(39, 136, 173); font-size: 11px; text-decoration: none;
}
a.navbar4:hover {
	color: rgb(255, 255, 255); font-size: 11px; text-decoration: underline;
}
a.navbar3 {
	color: rgb(255, 255, 255); font-size: 11px; text-decoration: none;
}
a.navbar3:hover {
	color: rgb(255, 255, 255); font-size: 11px; text-decoration: underline;
}
.form-control {
	border-radius: 4px; border: 1px solid rgb(94, 93, 93); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; width: 35px; height: 18px; text-align: center; color: rgb(237, 8, 8); font-size: 14px; font-weight: bold; vertical-align: middle; box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1), 0px 2px 2px #fff; background-color: rgb(255, 255, 255); -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px #fff; -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
[disabled].form-control {
	cursor: not-allowed; background-color: rgb(238, 238, 238);
}
[readonly].form-control {
	cursor: not-allowed; background-color: rgb(238, 238, 238);
}
fieldset[disabled] .form-control {
	cursor: not-allowed; background-color: rgb(238, 238, 238);
}
b {
	font-size: 12px;
}
fieldset {
	background-color: rgb(255, 255, 255);
}
.legend {
	float: right;
}
.reptable {
	border-collapse: collapse; border-spacing: 0px;
}
.reptable th {
	padding: 5px; border: 0px solid rgb(221, 221, 221) !important; border-image: none !important; text-align: center; line-height: 16px; font-weight: bold;
}
.reptable td {
	padding: 5px; border: 1px solid rgb(221, 221, 221) !important; border-image: none !important; text-align: center; line-height: 15px;
}
.caltable {
	border-collapse: collapse; border-spacing: 0;border-color:Yellow;background-color:#F3E925
}
.` th {
	padding: 2px; border: 1px solid rgb(240, 173, 78) !important; border-image: none !important; text-align: center; line-height: 15px; font-weight: bold;
}
.caltable td {
	padding: 0px; border: 0px solid rgb(148, 144, 144) !important; border-image: none !important; text-align: center; line-height: 13px;
}
.timetable {
	border-collapse: collapse; border-spacing: 0;
}
.timetable td {
	border: 1px solid rgb(148, 144, 144) !important; border-image: none !important; height: 100%; text-align: center;
}
.game {
	line-height: 1; font-size: 18px; font-weight: bold;
}
.chart {
	color: rgb(22, 70, 102); line-height: 1; font-size: 28px; font-weight: bold;
}
.head {
	line-height: 1; font-size: 18px; font-weight: bold;
}
.sr {
	line-height: 1; font-size: 18px; font-weight: bold;
}
.font {
	color: rgb(247, 15, 7); font-size: 20px;
}
.black {
	color: rgb(10, 10, 10); font-size: 20px;
}
.red {
	color: rgb(251, 16, 60); font-size: 25px; font-weight: bold;
}
.name {
	text-align: center; color: black; font-size: 17px; font-weight: bold;
}
.result {
	margin: 5px; color: rgb(22, 70, 102); font-size: 25px; font-weight: bold;
}
.topresult {
	margin: 5px; color: rgb(226, 38, 3); font-size: 35px; font-weight: bold;
}
